.btn,
button {
    font-family: $font-title;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: .22px;
    min-width: 246px;
    height: 77px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-green;
    background-color: $color-orange;
    padding: 10px 15px;
    border: 1.2px solid $color-orange;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: all .3s ease-out;

    &:focus {
        outline: none;
    }

    &:hover {
        color: $color-orange;
        background-color: transparent;
        text-decoration: none;
    }
}

.btn-lg {
    min-width: 328px;
    height: 102px;
    border-radius: 60px;
    font-size: 29px;
    letter-spacing: .29px;
    line-height: 38px;

    @media (max-width: 991px) {
        min-width: 286px;
        height: 89px;
        font-size: 25px;
        line-height: 29px;
        letter-spacing: .25px;
    }
}

.btn-sidenav {
    width: 23px;
    // height: 16px;
    background-color: transparent;
    padding: 0;
    border: 0;
    min-width: 1px;
    height: auto;
    cursor: pointer;

    svg {
        width: 100%;
        height: auto;
    }
}

.btn-read {
    display: inline-flex;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-out;

    &:hover {
        color: $color-orange;
        text-decoration: none;
    }

    &::after {
        content: "+";
        margin-left: 5px;
    }

    &.less {
        &::after {
            content: "-";
        }
    }
}
