$color-orange: #ffa35b;
$color-green: #213934;
$color-green-light: #698A79;
$color-red: #E78578;
$color-gray: #e2dbd7;

$color-black: #242424;
$color-black-1: #393737;
$color-white: #fff;

$color-border: #ddddde;

.color {
    &-orange {
        color: $color-orange !important;
    }

    &-green {
        color: $color-green !important;
    }

    &-gray {
        color: $color-gray !important;
    }

    &-black {
        color: $color-black !important;
    }

    &-white {
        color: $color-white !important;
    }
}

.bgcolor {
    &-orange {
        background-color: $color-orange !important;
    }

    &-green {
        background-color: $color-green !important;
    }

    &-gray {
        background-color: $color-gray !important;
    }

    &-black {
        background-color: $color-black !important;
    }

    &-white {
        background-color: $color-white !important;
    }
}