$banner-img: 516px;

.section-banner {
    color: #fff;
    background-color: $color-green;
    padding: 176px 0 0;

    > .layout-container {
        max-width: 100%;
        padding: 0;
    }

    @media (max-width: 991px) {
        padding: 100px 0 0;
    }
}

.banner {
    width: 100%;

    .inner {
        width: 100%;
        position: relative;
        max-width: 1440px;

        @include margin-auto;

        @media (max-width: 991px) {
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;

        }
    }

    .text {
        padding-bottom: 56px;

        @media (max-width: 991px) {
            padding-bottom: 59px;
        }

        .text-inner {
            width: 100%;

            @media (min-width: 992px) {
                max-width: calc(100% - #{$banner-img});
            }

            @media (min-width: 1351px) {
                max-width: calc(100% - #{$banner-img} + 92px);
            }

            @media (max-width: 991px) {
                max-width: 315px;

                @include margin-auto;
            }
        }

        .layout-container {
            // padding: 0;
            flex-flow: column;
            align-items: flex-start;
        }

        .title-divider {
            margin: 45px 0 25px;

            &::before {
                background-color: #fff;
            }
        }

        .scrolldown-arrow {
            display: inline-block;
            margin-top: 34.5px;
            cursor: pointer;
        }
    }

    .mousewheel {
        z-index: 2;
        position: absolute;
        bottom: 50px;
        right: 67px;
        width: 21px;
        height: 36px;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    &-title {
        position: relative;
        width: 620px;

        img,
        svg {
            width: 100%;
            height: auto;
        }

        .circ {
            z-index: 1;
            position: absolute;
            bottom: 15.5px;
            left: -70px;
            width: 211px;
            height: 211px;
            animation: rotate 20s linear infinite;

            img {
                width: 100%;
            }
        }
    }

    .text-events {
        display: flex;
        flex-wrap: wrap;
        max-width: 736px;
        width: 100%;

        @media (max-width: 991px) {
            flex-flow: column;
        }

        &-btn {
            align-self: center;
            text-align: right;
            margin-left: auto;

            @media (max-width: 991px) {
                width: 100%;
                text-align: left;
                margin-left: 0;
            }
        }

        &-content {
            padding-right: 38px;
        }

        .location {
            width: 100%;
            margin-bottom: 21px;

            h2 {
                font-size: 46px;
                margin-bottom: 2px;
                line-height: normal;

                @media (max-width: 991px) {
                    font-size: 35px;
                }
            }

            h4 {
                font-size: 30px;
                font-weight: 300;

                @media (max-width: 991px) {
                    font-size: 28px;
                }

                span {
                    display: block;
                }
            }
        }

        .time {
            display: flex;
            flex-flow: column;

            .day,
            .hour {
                font-size: 30px;
                line-height: 38px;

                @media (max-width: 991px) {
                    font-size: 21px;
                    line-height: normal;
                }
            }

            .day {
                font-weight: 500;
            }

            .hour {
                font-weight: 300;
            }

            .timeframe {
                font-size: 19px;
                font-weight: 300;

                @media (max-width: 991px) {
                    font-size: 16px;
                }
            }
        }
    }

    .media {
        z-index: 1;
        position: relative;
        width: $banner-img;
        height: 674px;

        @media (min-width: 992px) {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        @media (max-width: 991px) {
            width: 100%;
            height: auto;
        }

        img {
            @include imgfit;
        }

        .shapes {
            @media (max-width: 991px) {
                &::before {
                    display: none;
                }
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                z-index: -1;
                position: absolute;
                top: -20px;
                right: 0;
                width: 336px;
                height: 301px;
                background-color: $color-gray;
            }

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 6.5px;
                height: 321.5px;
                background-color: $color-orange;
            }
        }

        .barcode {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 6.5px;
            height: 321.5px;

            @media (max-width: 991px) {
                // display: none;
            }
        }
    }
}
