.branding {
    position: relative;
    width: 100%;
    max-width: 620px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (max-width: 991px) {
        max-width: 315px;
    }

    svg {
        height: auto;
    }

    &-lunch {
        width: 100%;
        margin-bottom: 33.33px;

        @media (max-width: 991px) {
            margin-bottom: 16px;
        }

        svg {
            width: 90.8%;
        }
    }

    &-learn {
        width: 100%;
        text-align: right;

        svg {
            width: 85.16%;
        }
    }

    &-plus {
        position: absolute;
        width: 10.725%;
        top: 59.5%;

        svg {
            width: 100%;
        }
    }

    &-circ {
        @include absolcenter;

        width: 293%;

        img,
        svg {
            animation: rotate 20s linear infinite;
        }
    }

    &.size-sm {
        .branding {
            &-lunch {
                margin-bottom: 27px;
            }
        }
    }
}
